#topheader{
    background-color: #800080;
    color:#fff;
}
#acpo-text{
    color:#fff;
    font-weight: 600;
    font-size:32px;
    margin-left:15px;
}
.white-icon {
    color:#fff;
}
.c-white {
    color:#fff;
}
.c-gray{
    color:#f0f0f0;
}
.bc-gray{
    background-color:#f0f0f0;
}
.btn-purple{
    background-color: #800080;
    border-color: #800080;
    padding:15px;
    letter-spacing: 1px;
    line-height: 15px;
    color:#fff;    
}
.btn-purple:hover{
    background-color: #531f68;
    color:#f0f0f0;
    border-color:#c2c2c2;
}
.btn-round{
    border: 2px solid rgba(108, 89, 179, 0.75);
    border-radius: 40px;
    transition: all 0.3s ease 0s;
}

.team-member-img{
    height:350px;
}
.white-link{
    color:#fff;
    text-decoration:none;
}
#top-menu ul {
    list-style-type: none;        
}
#top-menu ul li {
    list-style: none;
    float:right;
    margin-right:20px;    
}
#sections{
    margin-top:40px;
}

#sections .row {
    margin-top:50px;
}

.slide-content{
    color: #680068;
}

#band {
    margin-top:30px;
    padding-bottom:10px;
    background-color:#eeeeee;
}

#sub-links h5{
    font-size:1.2em;
    font-weight:bold;
}

.storylink{
    background:rgb(255, 255, 255)
}

    .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
    }

    .navbar-toggle {    
    margin-top: 23px;
    padding: 9px 10px !important;
    }

    @media (min-width: 768px) {
        .navbar-nav > li > a {
            padding-top: 26.5px;
            padding-bottom: 26.5px;
            line-height: 27px;
        }
    }  

/* teams */
.team {

}

.team h2 {
    color: #fff;
    margin: 0 0 30px 0
}

.team .i {
   
    margin-top: 30px
}

.team .i .c {
    background: #e6e6e6;
    -webkit-box-shadow: 0 4px 0 #e6e6e6;
    -moz-box-shadow: 0 4px 0 #e6e6e6;
    box-shadow: 0 4px 0 #e6e6e6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: relative;
    overflow: hidden;
    padding-bottom: 110px
}

.team .i .c .wrap {    
    position: relative
}

.team .i .c .wrap img {
    width: 100%;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.team .i .c .wrap .info {
    padding: 30px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.team .i .c .wrap .info .name {
    margin: 0;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0 0 8px 0
}

.team .i .c .wrap .info .position {
    margin: 0;
    font-size: 14px;
    font-size: 1.4rem;
    color: #555659
}

.team .i .c .more {
    position: absolute;
    bottom: -100%;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease
}

.team .i .c .more p {
    margin: 0 18px 30px 18px;
    line-height: 22px
}

.team .i .c .more .socials {
    margin: 0 0 20px 0
}

.team .i .c .more .socials a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-size: 2.2rem;
    color: #fff;
    margin: 0 0 0 3px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-align: center;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
}

.team .i .c .more .socials a:first-child {
    margin: 0
}

.team .i .c .more .socials a.facebook {
    background: #3262b9
}

.team .i .c .more .socials a.facebook:hover {
    background: #2d57a5
}

.team .i .c .more .socials a.twitter {
    background: #3dd7e5
}

.team .i .c .more .socials a.twitter:hover {
    background: #27d2e2
}

.team .i .c .more .socials a.google-plus {
    background: #e23535
}

.team .i .c .more .socials a.google-plus:hover {
    background: #de2020
}

.team .i .c .more .socials a.linkedin {
    background: #069
}

.team .i .c .more .socials a.linkedin:hover {
    background: #005580
}

.team .i .c:hover img {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0
}

.team .i .c:hover .info {
    top: 0
}

.team .i .c:hover .more {
    bottom: 0
}

/*teams end */


footer{
    background-color: #800080;
    color:#fff;
    margin-top:20px;
}